<div class="footer">
    <div class="top">
        <a href="/"><h3>Back to Top</h3></a>
    </div>
    <div class="middle">
        <div class="mid1">
            <h3>Get to Know Us</h3>
            <a href="">Careers</a>
            <a href="">Blogs</a>
            <a href="">About Amazon</a>
            <a href="">Investor Relations</a>
            <a href="">Amazon Devices</a>
            <a href="">Amazon Science</a>
        </div>
        <div class="mid2">
            <h3>Make Money with Us</h3>
            <a href="">Sell products on Amazon</a>
            <a href="">Sell on Amazon Business</a>
            <a href="">Sell Apps on Amazon</a>
            <a href="">Become an Affiliate</a>
            <a href="">Advertise Your Products</a>
            <a href="">Self Publish With Us</a>
            <a href="">Host on Amazon Hub</a>
            <a href="">See More Making Money With Us</a>
        
        </div>
        <div class="mid3">
                <h3>Amazon Payment Products</h3>
                <a href="">Amazon Business Cards</a>
                <a href="">Shop With Points</a>
                <a href="">Reload Your Balance</a>
                <a href="">Amazon Currency Converter</a>
        </div>
        <div class="mid4">
            <h3>Let us Help You</h3>
            <a href="">Amazon and COVID-19</a>
            <a href="">Your Account</a>
            <a href="">Your Orders</a>
            <a href="">Shipping Rates & Policies</a>
            <a href="">Returns & Replacements</a>
            <a href="">Manage Your Content and Devices</a>
            <a href="">Amazon Assistant</a>
            <a href="">Help</a>
        </div>
    </div>
</hr>
    <div class="bottom">
        <div class="logo-bot">
            <img src="./a710a3153853f9b733f7684b99dff624-removebg-preview.png" alt="logo">
        </div>
        <div class="divs">
            <button class="bot-btn">
                English
            </button>
            <button class="bot-btn">
$ USD-U.S Dollar
            </button>
            <button class="bot-btn">
United States
            </button>
        </div>
    </div>
</div>

<script src="./javascripts/script.js" >
</script>
</body>
</html>