<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>Email - 
    <%- about.email%>
  </h1>
  <h1>Username - 
    <%- about.username%>
  </h1>
  <h1>Course - 
    <%- about.course%>
  </h1>
  <h1>
    Age - <%- about.age%>
  </h1>
</body>
</html>