<%-include('./partials/header')%>
<%-include('./partials/nav')%>

    <title>Registration Form</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            text-align: center;
        }

        h1 {
            color: #333;
        }

        form {
            background-color: #fff;
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        label {
            display: block;
            margin-top: 10px;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="number"],
        input[type="url"] {
            width: 95%;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        input[type="radio"] {
            margin-right: 5px;
        }

        input[type="submit"] {
            background-color: #007BFF;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>Registration Form</h1>
    <form action="/register" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="number">Number:</label>
        <input type="number" id="number" name="phoneNumber" required>

        <label>Gender:</label>
        <label for="male">Male</label>
        <input type="radio" id="male" name="gender" value="Male">
        <label for="female">Female</label>
        <input type="radio" id="female" name="gender" value="Female">
        <label for="other">Other</label>
        <input type="radio" id="other" name="gender" value="Other">

        <label for="profilepic">Profile Picture Link:</label>
        <input type="url" id="profilepic" name="profilepic" required>

        <input type="submit" value="Register">
    </form>
<%-include('./partials/footer')%>
