<%-include('partials/header')%>
<link rel="stylesheet" href="/stylesheets/style.css">
<h1 class="tomato">
    <%= user.username%>
</h1>

    <br>
    <h2>
        <%= user.password%>   
    </h2>

<%-include('partials/footer')%>
