<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
</head>
<body>
   <div class="register">
    <form action="/profile" method="post">
   <input type="text" placeholder="Author" name="author">
   <select name="country" id="">
    countryname.forEach(c)

   </select>
   <input type="text" placeholder="Image Link" name="imagelink">
    <input type="number" placeholder="Pages" name="Pages">
    <input type="text" placeholder="Title" name="title">
    <input type="text" placeholder="Publication" name="publication">
        <button type="submit">Register</button>

    </form>
   </div> 
</body>
</html>