<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>navigation</h1>
   <a href="/about">about us</a>
   <a href="/contact">contact</a>

  </body>
</html>
